.center {
    padding-top: 20px;
    height: 90vh;
    position: relative;
}

.container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 30px;
    top: -10%;
    left: 37%;
}


.who-next {
    margin: 116px 0 0 130px;
    font-family: "Irish Grover", system-ui;
    font-size: 64px;
    font-weight: 400;
    color: #000000;
    user-select: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1),  
    -5px -5px 10px rgba(0, 0, 0, 0.2), 
    5px -5px 10px rgba(0, 0, 0, 0.2),  
    -5px 5px 10px rgba(0, 0, 0, 0.2);
    &-icons {
        width: 200px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        margin: 30px 0 0 190px;
    }
    &-dark {
        color: #fff;
    }
}

.timer {
    font-size: 130px;
    margin-left: 530px;
}

.restart {
    position: absolute;
    top: 60%;
    left: 22%;
    width: 250px;
    height: 100px;
    border: none;
    border-radius: 10px;
    font-size: 50px;
    margin-top: 100px;
    background-color: #dce742;
    box-shadow: 
    5px 5px 10px rgba(0, 0, 0, 0.2),  
    -5px -5px 10px rgba(0, 0, 0, 0.2), 
    5px -5px 10px rgba(0, 0, 0, 0.2),  
    -5px 5px 10px rgba(0, 0, 0, 0.2);  
}

.big-line {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 700px; 
    background-color: black; 
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transition: 0.3s all;
    z-index: 1000;
    &-horizontal {
        width: 700px;
        height: 5px;
    }
    &-first {
        left: 36%;
    }

    &-second {
        left: 71%;
    }

    &-third {
        top: 36%;
    }

    &-fourth {
        top: 71%
    }

}

.dark1 {
    .big-line {
        background-color: white;
    }
}

.code-room {
    color: black;
    font-family: "Irish Grover", system-ui;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    bottom: 30px;
    left: 30px;
    &_dark {
        color: white;
    }
}

@media (max-width: 576px) {
    .center {
        padding-top: 20px;
        height: 90vh;
        position: relative;
    }
    
    .container {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 110px);
        grid-template-rows: repeat(3, 110px);
        gap: 10px;
        top: 20%;
        left: 5%;
    }
    
    
    .who-next {
        margin: 0 auto;
        text-align: center;
        font-family: "Irish Grover", system-ui;
        font-size: 45px;
        font-weight: 400;
        color: #000000;
        user-select: none;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1),  
        -5px -5px 10px rgba(0, 0, 0, 0.2), 
        5px -5px 10px rgba(0, 0, 0, 0.2),  
        -5px 5px 10px rgba(0, 0, 0, 0.2);
        &-icons {
            width: 140px;
            height: 20px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            align-items: center;
            margin-top: 10px;
        }
    }
    
    .restart {
        position: absolute;
        top: 60%;
        left: 22%;
        width: 250px;
        height: 100px;
        border: none;
        border-radius: 10px;
        font-size: 50px;
        margin-top: 100px;
        background-color: #dce742;
        box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.2),  
        -5px -5px 10px rgba(0, 0, 0, 0.2), 
        5px -5px 10px rgba(0, 0, 0, 0.2),  
        -5px 5px 10px rgba(0, 0, 0, 0.2);  
    }
    
    .big-line {
        display: inline-block;
        position: absolute;
        width: 5px;
        height: 360px; 
        background-color: black; 
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        transition: 0.3s all;
        z-index: 1000;
        &-horizontal {
            width: 360px;
            height: 5px;
        }
        &-first {
            left: 33%;
        }
    
        &-second {
            left: 66%;
        }
    
        &-third {
            top: 33%;
        }
    
        &-fourth {
            top: 66%
        }
    
    }
    
    .dark1 {
        .big-line {
            background-color: white;
        }
    }
    
    .code-room {
        color: black;
        font-family: "Irish Grover", system-ui;
        font-size: 30px;
        font-weight: 400;
        position: absolute;
        bottom: 0px;
        left: 30px;
        &_dark {
            color: white;
        }
    }
}




 

  


