@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Hubballi&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    background-color: white;
    color: white;
}
h1 {
    color: black;
}