.field {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    
    .line {
        display: inline-block;
        position: absolute;
        width: 3px;
        height: 200px; 
        background-color: black; 
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        transition: 0.3s all;
        filter: blur(7px);
    }
    
    .horizontal {
        width: 200px;
        height: 3px;
    }

    .title {
        position: absolute;
        top: 0;
    }

    .first {
        left: 63%;
    }

    .second {
        left: 36%;
    }

    .third {
        top: 36%;
    }

    .fourth {
        top: 63%
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 60px);
        grid-template-rows: repeat(3, 60px);
        gap: 10px;
        align-items:center;
    }

}

.field-active {
    .line {
        filter: blur(0px);
    }
}

.dark {
    .line {
        background-color: #fff;
    }
}

.field__wino {
    
    width: 200px;
    height: 200px;
    color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    font-size: 250px;
    font-weight: 300;
    top: -59px;
    left: 56px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    z-index: -1;
}
.field__winx {
    
    width: 200px;
    height: 200px;
    color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    font-size: 250px;
    font-weight: 300;
    top: -59px;
    left: 63px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    z-index: -1;
}

@media (max-width: 1000px) {
    .field {
    height: 110px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    
    .line {
        display: inline-block;
        position: absolute;
        width: 3px;
        height: 110px; 
        background-color: black; 
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        transition: 0.3s all;
        filter: blur(7px);
    }
    
    .horizontal {
        width: 110px;
        height: 3px;
    }

    .title {
        position: absolute;
        top: 0;
    }

    .first {
        left: 66%;
    }

    .second {
        left: 33%;
    }

    .third {
        top: 33%;
    }

    .fourth {
        top: 66%
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 36px);
        grid-template-rows: repeat(3, 36px);
        gap: 1px;
        align-items:center;
        left: 4%;
        position: relative;
    }


}

.field-active {
    .line {
        filter: blur(0px);
    }
}

.dark {
    .line {
        background-color: #fff;
    }
}

.field__wino {
    
    width: 200px;
    height: 200px;
    color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    font-size: 250px;
    font-weight: 300;
    top: -59px;
    left: 56px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    z-index: -1;
}
.field__winx {
    
    width: 200px;
    height: 200px;
    color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    font-size: 250px;
    font-weight: 300;
    top: -59px;
    left: 63px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    z-index: -1;
}
}