


.clear-container {
    position: absolute;
    z-index: 1000000000000000000;
    width: 70px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #fff;
    width: 320px;
    height: 60px;
    border: 1px solid black;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    font-size: 50px;
    color: black;
    margin-top: 40px;
    box-shadow: 4px 4px 4px 4px black;
    user-select: none;
    transition: all 0.2s;
    cursor: pointer;
    text-decoration: none;
    left: 10%;
    transform: translate(0, -50%);
    &:hover {
        background-color: rgba(0,0,0,0.1);
    }
    &:active {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.modal-win {
    position: absolute;
    width: 400px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 40px 10px rgba(0, 0, 0, 0.2);
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    z-index: 10000;
}

.info-winner {
    font-size: 100px;
    text-align: center;
}

@media (max-width: 576px) {
    .modal-win {
        position: absolute;
        width: 300px;
        height: 250px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 2px 40px 10px rgba(0, 0, 0, 0.2);
        top: calc(50% - 150px);
        left: calc(50% - 150px);
        z-index: 10000;
    }
    .info-winner {
        font-size: 80px;
        text-align: center;
    }

    .clear-container {
        width: 230px;
        height: 60px;
    }
}